/* Provide sufficient contrast against white background */
a {
  color: white;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
    background-color: #121212;
}

h1{
    color: white;

}
p{
    color: white;
}